#DATA BASE
DATABASE_URL = postgresql+acyncpg://user:password@localhost:5432/db_name

#JWT

JWT_SERCERT = ...
JWT_ALGORTHIM = ur_algorithm
JWT_EXPIRATION_MIN=60

#RAG
CHUNK_SIZE = 1000
CHUNK_OVERLAB = 200
MAX_FILE_SIZE=10

#APP
LOG_LEVEL = INFO
